<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.debernardi.sokoban">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sokoban_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sokoban_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Statistics"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <activity android:name=".Settings"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            />
        <activity android:name=".LevelSelect" />
        <activity android:name=".GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity android:name=".WinLose"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity android:name=".CreditsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>